<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
</head>
<body>
    <header th:replace="~{fragments/header :: header}"></header>

    <div class="container">
        <h2>Login Page</h2>

        <form th:action="@{/login}" th:object="${loginDto}" method="post">
            <div>
                <label for="username">Name:</label>
                <input type="text" id="username" name="username" th:field="*{username}" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" th:field="*{password}" required>
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>

        <div th:if="${param.error}" style="color: red;">
            <p th:text="${param.message}">Error message here</p>
        </div>

        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</body>
</html>