<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Information Page</title>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<div class="container">
    <h2>User Information Page</h2>

    <div>
        <label>회원명 : </label>
        <span th:text="${member.name}">회원명</span>
    </div>

    <div>
        <label>E-mail : </label>
        <span th:text="${member.email}">E-mail</span>
    </div>

    <div>
        <label>가입일 : </label>
        <span th:text="${member.createMemberDateTime}">가입일</span>
    </div>


    <h3> 작성 게시글 </h3>
    <div th:each="post : ${postByMember}">
        <p>
            <strong>제목 : </strong>
            <a th:href="@{/post/{postId}(postId=${post.id})}" th:text="${post.title}">게시글 제목</a><br>
        </p>
    </div>
<!--    작성한 게시글이 없는 경우 메시지-->
    <div th:if="${#lists.isEmpty(postByMember)}" th:text="${noPostsMessage}"></div>


    <div>
        <button class="delete-member"
                th:attr="data-id=${member.id}">회원 탈퇴</button>
    </div>


    <div th:replace="~{fragments/footer :: footer}"></div>
</div>

<script th:src="@{/memberInfo.js}"></script>
</body>
</html>