<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Board Service</title>
</head>
<body>
    <header th:replace="~{fragments/header :: header}"></header>

    <h1>게시글 목록</h1>
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="post : ${postList}">
            <td th:text="${post.postId}">1</td>
            <td>
                <a th:href="@{|/post/${post.postId}|}" th:text="${post.title}">제목</a>
            </td>
            <td th:text="${post.writer}">작성자</td>
            <td th:text="${post.view}">조회수</td>
        </tr>
        </tbody>
    </table>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>